[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = 100 Days of ML Coding
[access "refs/*"]
	owner = group user/3mard
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/3mard
	label-Verified = -1..+1 group user/3mard
	push = group user/3mard
	read = group user/3mard
	rebase = group user/3mard
	removeReviewer = group user/3mard
	submit = group user/3mard
[access "refs/heads/*"]
	create = group user/3mard
	push = +force group user/3mard
	pushMerge = group user/3mard
	read = group user/3mard
[access "refs/tags/*"]
	push = group user/3mard
	push = +force group user/3mard
